@import "includes/settings";
$CARD_FONT:1.8vh;
$CARD_TITLE:2.1vh;

html, body{
	height: auto;
}
.page-wrapper{
	overflow: hidden;
	padding: 6.5% 0 1% 0;//need to another data
}


.screen-title{
	margin: 0;
}
.columns-wrapper{
	@media screen and (max-aspect-ratio: 16/10) {
		flex-direction: column;
		margin: 15% 0 0 0;
	}
	margin: 5% 0 0 0;
	display: flex;
	flex-direction: row;
	z-index: 5;
	.text{
		text-align: justify;
		font-family: "Montserrat", serif;
		font-size: 2.2vh;
		line-height: 160%;
	}
}
.content{
	&-list{
		margin: 5% 0 0 0;
		font-weight: 500;
		width: 87%;
		padding: 0 0 0 3%;
	}
	&-text{
		&:not(:first-child){
			margin: 10% 0 0 0;
		}
		text-align: justify;
		font-family: "Montserrat", serif;
		font-size: $CARD_TITLE;
		line-height: 150%;
	}
}
.content-column{
	&.right{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	&.left {
		@media screen and (max-aspect-ratio: 16/10) {
			margin: 0 0 5% 0;
			padding: 0;
		}
		padding: 0 5% 0 0;
		.text{
			font-size: $CARD_FONT;
			margin: 10% 0 0 0;
		}
	}
	width: 100%;
}

/*slider*/
.slider-wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
}
.slider-control{
	top:43%;
	position: absolute;
	align-self: center;
	width: 95%;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	.arrow-wrapper{
		&#prev{
			margin: 0 0 0 5%;
		}
		&#next{
			margin: 0 5% 0 0;
		}
		img{
			&:hover{
				filter: drop-shadow(0 0 5px map_get($colors, "white-c"));
			}
			transition: ease-in .5s;
			cursor: pointer;
		}
	}
}
.slides-counter{
	margin: 5% 0 0 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	font-size: 3.8vh;
	font-family: "Playball", serif;
	.current-slider{

	}
	.slides-count{
		opacity: 0.4;
	}
}
.tns-outer{
	overflow: hidden;
	border-radius: 100%;
	border:10px solid map_get($colors,"white-c");
	filter:grayscale(100%);

	width: 70vh;
	height: 70vh;
	display: flex;
}
.tns-ovh{
	width: 100%;
}
.tns-inner{
	height: 100%;
}
.vignette-slider{
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	height: 100%;
}
#vignette-slider > .tns-item{
	height: 100%;
}
.slide-template{
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex!important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	img{
		position: absolute;
		width: auto;
		height: 100%;
		min-width: 100%;
	}
}