@import "includes/settings";
$CARD_FONT:1.8vh;
$CARD_TITLE:2.1vh;
$HIGH_TITLE:3.1vh;
/*links*/
.social-wrapper	{
	display:flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	align-self: center;
	z-index: 2;
	.site-link {
		&:first-child{
		}
		&.instagram{
			margin: 20% 0 0 0;
		}
		width: auto;
	}
}
.link-wrapper	{
	margin: 10% 0 0 0;
	.site-link{

	}
}
/*columns of column*/
.logo			{
	width: auto;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	&-column{
		&.without-logo{
			width: 28vw;
		}
		width: auto;
		top:27%;
		margin:0 0 0 22%;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: center;
		z-index: 2;
		position: absolute;
	}
	&-title{
		margin: 0 0 5% 0;
		display: inline;
		font-family: "Playball", Serif;
		font-size: $HIGH_TITLE;
		color:map_get($colors,"gray-c");
	}
	$logoHeight:25%;
	.first-string{
		height: $logoHeight;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		img{
			height: 100%;
		}
	}
	.second-string{
		flex-direction: row;
		justify-content:center;
		height: $logoHeight;

		img{
			$WordSpace:4%;
			&:first-child{
				height: 100%;
				padding: 0 $WordSpace 0 0;
			}
			&:last-child{
				height: 100%;
				padding: 0 0 0 $WordSpace;
			}
			box-sizing: border-box;
		}
	}
	.third-string{
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: $logoHeight;
		img{
			height: 100%;
		}
	}
}
.photo-wrapper	{
	overflow: hidden;
	display: flex;
	flex-direction: row-reverse;
	height: 75vh;
	width: 93%;
	left: 0;
	position: absolute;
	z-index: 1;
	margin:5% 0 0 0;
}

.page-background{
	&.preloaded{
		opacity: 0;
		transform: translateY(50px);
	}
	@extend .logo-column;

	transform: none;
	transition: ease 2s;
	bottom: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	margin: 0;
	height:	100%;
	width: auto;
	opacity: 0.4;
	z-index: 1;
	left: 0;
	top:unset;
	.logo{

		display: inline-flex;
		justify-content: stretch;
		align-items: stretch;
	}
	.first-string, .third-string{
		display: flex;
		flex-direction: row;
		justify-content: center;
		img{
			width:auto;
		}
	}
	.second-string{
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: stretch;
		img{
			&:last-child{
				padding: 0 0 0 5%;
			}
			width: auto;
		}
	}
	.second-string, .third-string{
		margin: 2% 0 0 0;
	}
	.first-string, .second-string, .third-string{
		width: auto;
	}
}
.page-wrapper	{
	background: map_get($colors,"main-gradient");
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	align-items: center;
	position: relative;
	height: 100%;
	overflow: hidden;

	.column-wrapper{
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
	}
}
.main-image{
	&.preloaded{
		opacity: 0;
		transform: translateY(50px);
	}
	border: 10px solid map_get($colors,"white-c");
	border-radius: 100%;
	opacity: 1;
	transform: none;
	position: absolute;
	right: 0;
	transition: ease 1s;
	z-index: 2;
	height: 70vh;
	width: 70vh;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		height: 100%;
		width: auto;
	}
}