@import "includes/settings";
$CARD_FONT:1.8vh;
$CARD_TITLE:2.1vh;
$HIGH_TITLE:3.1vh;

html, body{
	height: auto;
	width: 100%;
}
body{
	position: relative;
	padding:  0;
	margin:   0;
}
.page-wrapper{
	overflow: hidden;
}

.columns-wrapper{
	@media screen and (max-aspect-ratio: 16/10) {
		flex-direction: column;
	}
	z-index: 5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.content-column{
	@media screen and (max-aspect-ratio: 16/10) {
		width: 100%;
	}
	display: flex;
	flex-direction: column;
	width: 48%;
	.text{
		line-height: 160%;
	}
}

div.text{
	&:not(:first-child){
		margin: 2% 0 0 0;
	}
	&.titled{
		margin: 3% 0 0 0;
		font-family: Playball, serif;
		font-size: $HIGH_TITLE;
	}

	font-family: Montserrat, serif;
	text-align: justify;
	font-size: $CARD_FONT;
	color:map_get($colors,"gray-c");
}
.screen{
	&.second{
		@media screen and (max-aspect-ratio: 16/10) {
			margin: 10% 0 0 0;
		}
		.screen-title{
			margin: 0;
		}
	}
	&.first{
		@media screen and (max-aspect-ratio: 16/10) {
			margin: 15% 0 0 0;
		}
	}
}