@import "includes/settings";
$CARD_FONT:1.8vh;
$CARD_TITLE:1.8vh;
$HIGH_TITLE:3.1vh;
/*usual styles*/
html, body{
	height: auto;
	width: 100%;
}
body{
	position: relative;
	padding:  0;
	margin:   0;
}
.page-wrapper{
	overflow: hidden;
}
.screen{
	&.first{
		.screen-title{
			margin-bottom: 5px;
		}
		.under-title{
			font-family: Montserrat, serif;
			font-size: $CARD_TITLE;
			color: map_get($colors, "gray-c");
			z-index: 5;
		}
	}
}
.content-wrapper{
	z-index: 5;
	margin: 65px 0 0 0;
	width: 80%;
}
/*products*/
.products-wrapper{
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
}
.product{
	&-photo{
		$diameter:50vh;
		border: 10px solid map_get($colors, "white-c");
		border-radius: 100%;
		position: relative;
		width: $diameter;
		height: $diameter;
		overflow: hidden;
		filter: grayscale(100%);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		img{
			position: absolute;
			height: auto;
			width: 100%;
		}
	}
	&-card{
		&:not(:last-child){
			margin: 5% 5% 0 0;
		}
		margin: 5% 0 0 0;
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: stretch;
	}
}

.content-row{
	&.tag-content{
		font-family: Playball, serif;
		font-size: $HIGH_TITLE;
		color: map_get($colors,"gray-c");
	}
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}