@import "includes/settings";
$CARD_FONT:1.8vh;
$CARD_TITLE:3.1vh;
html, body{
	height: auto;
}
.page-wrapper{
	background: map_get($colors,"main-gradient");
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	position: relative;
	padding: 6.5% 0 1% 0;
}

.screen{
	&.second{
		margin: 50px 0 115px 0;
		padding: 0 0 35px 0;
		box-sizing: border-box;
		.screen-title{
			margin: 40px 0 0 0;
		}
	}
	&.first{
		.screen-title{
			//margin: 1.5% 0 6%;
		}
	}
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	.screen-title{
		z-index: 2;
		&.background{
			margin: 0;
		}
	}
}
.service{
	&-list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&-item{
		&:not(:first-child){
			margin:2vh 0 0 0;
		}
		box-sizing: border-box;
		padding: 5vh;
		display: flex;
		flex-direction:row;
		justify-content: flex-start;
		align-items: center;
		width:100%;
		height:auto;
		background: map_get($colors, "white-c");
	}
	&-item.form{
		box-sizing: border-box;
		padding: 12px 10px;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
	}

	&-title{
		width:25%;
		font-family: "Playball", Serif;
		font-size: $CARD_TITLE;
		line-height: 30px;
		color:map_get($colors,"black-c");
	}
	&-description{
		margin:0 0 0 15px;
 		width: 30%;
		text-align: justify;
		font-family: "Montserrat", serif;;
		font-size: $CARD_FONT;
		line-height: 150%;
		color:map_get($colors,"gray-c");
	}
	&-time{
		min-width: 130px;
		padding: 1%;
		border-radius: 30px;
		font-family: "Montserrat", Serif;
		font-size: $CARD_FONT;
		line-height: 17px;
		color:map_get($colors,"gray-c");
		background:map_get($colors,"blue-time");
		text-align: center;
		margin:0 auto 0 3%;
	}
	&-price{
		min-width: 20%;
		font-family: "Playball", serif;
		font-size: $CARD_TITLE;
		line-height: 25px;
		color:map_get($colors,"back-c");
		padding: 0 0 0 5%;
		text-align: right;
	}
}
form.feed-back{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 35px 30px;
	box-sizing: border-box;
	border-radius: 10px;
	border:1px solid map_get($colors,"gray-s");
	height: 100%;
	width: 100%;

	.title{
		display: inline;
		font-size: 30px;
		line-height: 37px;
		font-family: "Playball", Serif;
		&-description{
			margin: 20px 0 0 0;
			display: inline;
			font-size: 14px;
			font-family: "Roboto", Serif;
			line-height: 1.5;
			color: map_get($colors,"grey-c");
		}
	}
	/*form inputs*/
	.data-wrapper{
		width: 100%;
		margin: 40px 0 0 0;
	}
	.input-wrapper{
		&:not(:first-child){
			margin: 21px 0 0 0;
		}
		height: 28px;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
		position: relative;

		.place-holder{
			position: absolute;
			padding: 5px 0;
			left: 20px;
			line-height: 150%;
			font-size: 14px;
			font-family: "Roboto", Serif;
			color: map_get($colors,"gray-s");
		}
		.simple-input{
			height: 100%;
			border:none;
			border-bottom: 1px solid map_get($colors,"gray-s");
		}
	}

	.site-link.feedback{
		//@extend a.site-link;

		background: none;
		border: none;
		padding: 0;
		margin: 40px 0 0 0;

		.text-content{
			margin: 0 10px 0 0;
		}
		.icon-wrapper{
			background: map_get($colors,"gray-s-a");
		}
	}
}
.screen-content{
	z-index: 2;
	.site-link.about-me{
		.text-content{
			margin: 0 10px 0 0;
			//display: none;
		}
	}
}