div.page-wrapper
    div.column-wrapper
        div.screen.first.services
            span.screen-title.background About Me
            div.columns-wrapper
                div.content-column.left
                    span.screen-title About me
                    div.text.text-montserat Welcome to Nina’s skin care studio! If you are looking for a person, who will take care of your skin needs, you have found the right place. If you don’t like those huge spas, where you see a different professional each time, you have found the right place.
                    ul.content-list
                        li.content-text.text-montserat I have been an esthetician for 25 years. I decided to pursue the skin care career after I had obtained a nursing degree in Moscow, Russia in 1982. I continued my education in the U.S.A. and got licensed in 1998. Since then I worked in San Francisco, CA and owned a business since 2001.
                        li.content-text.text-montserat For the last two years I have been working in Fremont, CA. My cozy, fully equipped studio is located in my residence, with a separate entrance. This gives me an opportunity to keep my prices reasonable. I use professional products from the leading skin care lines and provide my customers with an excellent, individual service.
                        li.content-text.text-montserat My hours are flexible and I work by appointment only.
                        li.content-text.text-montserat You will never be pressured to buy products, but if you ask for my advice, I will gladly give you my recommendation for your home skin care.
                        li.content-text.text-montserat I like to combine the “old school” European techniques with the use of the newest products in the skin care industry
                div.content-column.right
                    div.slider-wrapper
                        div.slider-control
                            div.arrow-wrapper#prev
                                img(src="/bundle/static/images/icons/slidearrow-left.svg")
                            div.arrow-wrapper#next
                                img(src="/bundle/static/images/icons/slidearrow-right.svg")
                        div.vignette-slider#vignette-slider
                            div.slide-template
                                img(src="/bundle/static/images/slider/aboutme1.jpg")
                            div.slide-template
                                img(src="/bundle/static/images/slider/aboutme2.jpg")
                            div.slide-template
                                img(src="/bundle/static/images/slider/aboutme3.jpg")

                        div.slides-counter
                            div.current-slide 1
                            div.slides-count / 4

        div.screen.second
            span.screen-title.background LittleBitOfScience
            span.screen-title Little bit of science
            div.screen-content
                a(href="/lbos.html").site-link.about-me
                    span.text-content Move to page
                    div.icon-background
                        div.background-square
                    div.icon-wrapper
                        img(src="/bundle/static/images/icons/arrow-right.svg").link-icon