div.page-wrapper
    div.column-wrapper
        div.social-wrapper
            a.site-link.facebook
                div.icon-wrapper
                    img(src="/bundle/static/images/icons/facebook.svg").link-icon
                div.icon-background
                    div.background-square
                span.text-content facebook
            a.site-link.instagram
                div.icon-wrapper
                    img(src="/bundle/static/images/icons/instagramm.svg").link-icon
                div.icon-background
                    div.background-square
                span.text-content instagram
        div.logo-column.without-logo
            div.logo-title Baby yourself at
            div.logo
                div.logo.first-string
                    img(src="/bundle/static/images/logo/1.svg")
                div.logo.second-string
                    img(src="/bundle/static/images/logo/2.svg")
                    img(src="/bundle/static/images/logo/3.svg")
                div.logo.third-string
                    img(src="/bundle/static/images/logo/4.svg")
            div.link-wrapper
                a(href="services.html").site-link.services
                    span.text-content Services
                    div.icon-background
                        div.background-square
                    div.icon-wrapper
                        img(src="/bundle/static/images/icons/arrow-right.svg").link-icon
        div.photo-wrapper#content-container
            div.logo.page-background.preloaded
                div.first-string
                    img(src="/bundle/static/images/logo/background/1.svg")
                div.second-string
                    img(src="/bundle/static/images/logo/background/2.svg")
                    img(src="/bundle/static/images/logo/background/3.svg")
                div.third-string
                    img(src="/bundle/static/images/logo/background/4.svg")
            div.main-image.preloaded
                img(src="/bundle/static/images/MainImage.jpg")