div.page-wrapper
    div.column-wrapper
        div.screen.first.services
            span.screen-title.background LittleBitOfSince
            span.screen-title Why - a facial
            div.columns-wrapper
                div.content-column.left
                    div.text.text-montserat What is a facial and what is it about? It is all about exfoliation
                    div.text.text-montserat You may think that you don’t need to exfoliate, because you are lucky and inherited great skin from your mom, but even the luckiest ones need to exfoliate if they want that healthy glow on their faces.
                    div.text.text-montserat Normally, skin cells regenerate every 28-30 days. The new skin cells push the dead cells to the top layer of the skin. The dead skin cells fall off from the outer layer. However, if there is an excess of dead skin cells, they may start accumulating on face giving a dull and dry facial look.
                div.content-column.right
                    div.text.text-montserat Since your face always remains exposed, harsh environmental conditions such as the sun, or cold wind, or central heating in your home can affect facial skin. Skin tends to lose its natural moisture when is exposed to too much cold or heat. It becomes dry and scaly.
                    div.text.text-montserat The accumulation of dead skin cells later results in clogged pores, uneven complexion, blemishes and blackheads. It is advised to remove the dead skin cells from the skin as soon as possible to get rid of further skin issues. Nobody can do that job better than a knowledgeable and experienced esthetician.
                    div.text.titled.text-playball This is why you deserve a facial.

        div.screen.second
            span.screen-title.background Products
            span.screen-title Products
            div.screen-content
                a(href="/products.html").site-link.about-me
                    span.text-content Move to page
                    div.icon-background
                        div.background-square
                    div.icon-wrapper
                        img(src="/bundle/static/images/icons/arrow-right.svg").link-icon