div.page-wrapper
    div.column-wrapper
        div.screen.first.services
            span.screen-title.background Products
            span.screen-title Products
            span.under-title.text-montserat Products used during the facials and for sale for the home care.
            div.content-wrapper
                div.content-row.tag-content.text-playball Skin care lines used in the facials and available for sale in my studio : Sothys (France), Skin Script, Dermalogica, Dr.Temt (Austria), CA Botana, Hale and Hush, Flora wax with azulene (Italy), Refectocil for tinting.
                div.products-wrapper
                    div.product-card
                        div.product-photo
                            img(src="/bundle/static/images/products/production1.jpg")
                    div.product-card
                        div.product-photo
                            img(src="/bundle/static/images/products/production2.jpg")
                    //div.tag-content.text-playball Sothys France
                    //div.tag-content.text-playball Skin Script
                    //div.tag-content.text-playball Peter Thomas Ross
                    //div.tag-content.text-playball Dermalogica
                    //div.tag-content.text-playball Dr.Temt
        div.screen.second
            span.screen-title.background Main
            span.screen-title Main page
            div.screen-content
                a(href="/").site-link.about-me
                    span.text-content Move to page
                    div.icon-background
                        div.background-square
                    div.icon-wrapper
                        img(src="/bundle/static/images/icons/arrow-right.svg").link-icon