div.page-wrapper
    div.column-wrapper
        div.screen.first.services
            span.screen-title.background Services
            span.screen-title Services
            div.screen-content
                ul.service-list
                    li.service-item
                        div.service-title.text-playball Signature facial
                        div.service-description.text-montserat Customized for your needs: AHA peel, steaming, enzyme peel, extractions, peeling roll-off cream, face-and-shoulder massage, treatment mask, various ampules and serums
                        div.service-time.text-montserat 75-90 min
                        div.service-price.text-playball $65-70
                    li.service-item
                        div.service-title.text-playball Mini facial
                        div.service-description.text-montserat Face-and-shoulder massage is not included
                        div.service-time.text-montserat 60 min
                        div.service-price.text-playball $50
                    li.service-item
                        div.service-title.text-playball Teen facial
                        div.service-description.text-montserat The facial specifically address the challenges of teenage skin
                        div.service-time.text-montserat 60-75 min
                        div.service-price.text-playball $50-55
                    li.service-item
                        div.service-title.text-playball Back treatment
                        div.service-description.text-montserat A deep cleansing using various exfoliation methods for the hard to reach back area
                        div.service-time.text-montserat 60 min
                        div.service-price.text-playball $50
                    li.service-item
                        div.service-title.text-playball Eye area treatment
                        div.service-description.text-montserat A 30 min treatment or as an add on to a facial
                        div.service-time.text-montserat 30 min
                        div.service-price.text-playball $25
                    li.service-item
                        div.service-title.text-playball Neck and decolltee area treatment
                        div.service-description.text-montserat A 30 min treatment or as an add on to a facial
                        div.service-time.text-montserat 30 min
                        div.service-price.text-playball $25
                    li.service-item
                        div.service-title.text-playball Hand treatment
                        div.service-description.text-montserat Paraffin bath, AHA peel, scrub, massage, hand cream. As an add on to a facial
                        div.service-time.text-montserat 30 min
                        div.service-price.text-playball $25
                    li.service-item
                        div.service-title.text-playball Exfoliating Peels
                        div.service-description.text-montserat Customized to each client’s needs
                        div.service-time.text-montserat 30 min
                        div.service-price.text-playball Six treatments $20 each.
                    li.service-item
                        div.service-title.text-playball Eyebrow shaping
                        div.service-description.text-montserat Waxing or tweezing
                        div.service-time.text-montserat 20-30min
                        div.service-price.text-playball $20
                    li.service-item
                        div.service-title.text-playball Eyelash and brow tinting
                        div.service-description.text-montserat Various colors available
                        div.service-time.text-montserat 30 min
                        div.service-price.text-playball $20-$30
                    li.service-item
                        div.service-title.text-playball Body waxing
                        div.service-description.text-montserat  The fastest waxing you can find. Legs, bikini area, arms, chest, back
                        div.service-time.text-montserat Time varies.
                        div.service-price.text-playball $25-$45

        div.screen.second
            span.screen-title.background About Me
            span.screen-title About Me
            div.screen-content
                a(href="aboutme.html").site-link.about-me
                    span.text-content Move to page
                    div.icon-background
                        div.background-square
                    div.icon-wrapper
                        img(src="/bundle/static/images/icons/arrow-right.svg").link-icon