extends includes/_layout
block append css
    link(href="/bundle/css/commons/common.css" rel="stylesheet")
    link(href="/bundle/css/commons/innerpages.css" rel="stylesheet")
    link(href="/bundle/css/commons/fonts.css" rel="stylesheet")
    link(href="/bundle/css/aboutme.css" rel="stylesheet")
    link(href="/bundle/jsLibs/tinyslider/tiny-slider.css" rel="stylesheet")
block append js-head
    script(src="/bundle/jsLibs/jquery/jquery.min.js")
    script(src="/bundle/jsLibs/tinyslider/tiny-slider.js")
    script(src="/bundle/js/aboutme.js")

block append headermenu
    +HeaderMenu("aboutme")
block append page-content
    include pages/aboutme