extends includes/_layout
block append css
    link(href="/bundle/css/commons/common.css" rel="stylesheet")
    link(href="/bundle/css/commons/fonts.css" rel="stylesheet")
    link(href="/bundle/css/index.css" rel="stylesheet")
block append js-head
    script(src="/bundle/jsLibs/jquery/jquery.min.js")
    script(src="/bundle/js/index.js")
block append headermenu
    +HeaderMenu
block append page-content
    include pages/index