extends includes/_layout
block append css
    link(href="/bundle/css/commons/common.css" rel="stylesheet")
    link(href="/bundle/css/commons/innerpages.css" rel="stylesheet")
    link(href="/bundle/css/commons/fonts.css" rel="stylesheet")
    link(href="/bundle/css/products.css" rel="stylesheet")
block append headermenu
    +HeaderMenu("products")
block append page-content
    include pages/products