extends includes/_layout
block append css
    link(href="/bundle/css/commons/common.css" rel="stylesheet")
    link(href="/bundle/css/commons/innerpages.css" rel="stylesheet")
    link(href="/bundle/css/commons/fonts.css" rel="stylesheet")
    link(href="/bundle/css/services.css" rel="stylesheet")
block append headermenu
    +HeaderMenu("services")
block append page-content
    include pages/services