@import "../includes/settings";
@import "../includes/header";
@import "../includes/footer";

html, body{
  height: 100%;
  width: 100%;
}
body{
  position: relative;
  padding:  0;
  margin:   0;
}
.column-wrapper{
  width: $mainColumnWidth;
  height: 100%;
}

a.site-link{
  &:hover{
    .icon-background{
      width: 100%;
    }
  }
  &:visited{
    color: map_get($colors,"black-c");
  }
  &.about-me{
    .text-content{
      width: 16vh;
      margin: 0!important;
    }
  }
  &.services, &.about-me{
    justify-content: flex-end;
    .text-content{
      //padding: 0 10%;
    }
    .icon-wrapper{
      img{
        height: 25%;
      }
    }
  }

  $iconDiameter:5vh;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .icon-background{
    &:after{
      right: 0;
    }
    &:before{
      left: 0;
    }
    &:after,&:before{
      content:" ";
      border-radius: 50%;
      width: $iconDiameter;
      height: $iconDiameter;
      background: map_get($colors,"white-c");
      position: absolute;
    }

    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width:5vh;
    height: 100%;
    padding: 0 2.5vh;
    transition: ease 0.5s;
    box-sizing:border-box;

    .background-square{
      background: map_get($colors,"white-c");
      height: 100%;
      width: 100%;
      transition: ease .5s;
    }
  }
  .icon-wrapper{
    width: $iconDiameter;
    min-width: $iconDiameter;
    height: $iconDiameter;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: ease .5s;
    img{
      position: absolute;
      height: 50%;
      z-index: 2;
    }
  }
  .text-content{
    text-align: center;
    box-sizing:border-box;
    font-family: "Montserrat", Serif;
    font-size:1.8vh;
    font-weight: 500;
    color: map_get($colors,"black-c");
    z-index: 2;
    min-width: 12vh;
  }
}
.page-wrapper{
  background: map_get($colors,"main-gradient");
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  position: relative;
}
.text-montserat{

}
.text-playball{

}