@import "../includes/settings";

.page-wrapper{
	background: map_get($colors,"main-gradient");
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	position: relative;
	padding: 6.5% 0 1% 0;
}
.screen{
	&.second{
		margin: 50px 0 115px 0;
		padding: 0 0 35px 0;
		box-sizing: border-box;
		.screen-title{
			margin: 40px 0 0 0;
		}
	}
	&.first{
		.screen-title{
			margin: 5% 0 6%;
		}
	}
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	.screen-title{
		font-size: 10vh;
		font-family: "Playball", Serif;
		color:map_get($colors,"gray-c");
		z-index: 2;
		&.background{
			margin: 0;
			z-index: 1;
			color: map_get($colors,"white-c");
			opacity: 0.3;
			top: 0;
			position: absolute;
			font-size: 20.9vw;
			line-height: 1;
		}
	}
}