header.header-wrapper
    div.top-line
        div.column-wrapper
            a.data-content.city-location Fremont, CA
            a(href="mailto:nina@ninaskincarestudio.com").data-content.email-address nina@ninaskincarestudio.com
    div.bot-line
        div.column-wrapper
            block headermenu

            div#menu-wrapper
            a(href="tel:+16502294464").tel-phone
                span.pref Tel:
                span.phone +1 650 229 4464