mixin HeaderMenu(current)
    ul.nav-list
        case current
            when "services"
                li.nav-item
                    a(href="/").nav-link MAIN
                li.nav-item.current
                    a(href="/services.html").nav-link SERVICES
                li.nav-item
                    a(href="/aboutme.html").nav-link ABOUT ME
                li.nav-item
                    a(href="/lbos.html").nav-link LITTLE BIT OF SCIENCE
                li.nav-item
                    a(href="/products.html").nav-link PRODUCTS
            when "aboutme"
                li.nav-item
                    a(href="/").nav-link MAIN
                li.nav-item
                    a(href="/services.html").nav-link SERVICES
                li.nav-item.current
                    a(href="/aboutme.html").nav-link ABOUT ME
                li.nav-item
                    a(href="/lbos.html").nav-link LITTLE BIT OF SCIENCE
                li.nav-item
                    a(href="/products.html").nav-link PRODUCTS
            when "lbos"
                li.nav-item
                    a(href="/").nav-link MAIN
                li.nav-item
                    a(href="/services.html").nav-link SERVICES
                li.nav-item
                    a(href="/aboutme.html").nav-link ABOUT ME
                li.nav-item.current
                    a(href="/lbos.html").nav-link LITTLE BIT OF SCIENCE
                li.nav-item
                    a(href="/products.html").nav-link PRODUCTS
            when "products"
                li.nav-item
                    a(href="/").nav-link MAIN
                li.nav-item
                    a(href="/services.html").nav-link SERVICES
                li.nav-item
                    a(href="/aboutme.html").nav-link ABOUT ME
                li.nav-item
                    a(href="/lbos.html").nav-link LITTLE BIT OF SCIENCE
                li.nav-item.current
                    a(href="/products.html").nav-link PRODUCTS
            default
                li.nav-item.current
                    a(href="/").nav-link MAIN
                li.nav-item
                    a(href="/services.html").nav-link SERVICES
                li.nav-item
                    a(href="/aboutme.html").nav-link ABOUT ME
                li.nav-item
                    a(href="/lbos.html").nav-link LITTLE BIT OF SCIENCE
                li.nav-item
                    a(href="/products.html").nav-link PRODUCTS

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block title
        block css
        block js-head
    body
        include _header
        block page-content
        include _footer
        block js-after-content