@font-face {
	font-family: Montserrat;
	src: url("/bundle/static/fonts/monserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Montserrat-Italic;
	src: url("/bundle/static/fonts/monserrat/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
	font-family: Montserrat-Bold;
	src: url("/bundle/static/fonts/monserrat/Montserrat-Bold.ttf") format("truetype");
}


@font-face {
	font-family: Playball;
	src: url("/bundle/static/fonts/playball/Playball-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	src: url("/bundle/static/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Roboto-Italic;
	src: url("/bundle/static/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
	font-family: Roboto-Bold;
	src: url("/bundle/static/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}