$MENU_TOPLINE_FONT_SIZE:1.7vh;
footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 1;
	padding: 0 0 1% 0;
	position: absolute;
	bottom: 0;
	.column-wrapper{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	span, a{
		&:visited{
			color:map_get($colors,"gray-c");
			text-decoration:none;
		}
		&.right-copyright{
			&:hover{
			color: map_get($colors,"gray-hvrd");
		}
			cursor: pointer;
		}
		text-decoration:none;
		transition: ease .5s;

		font-family: Montserrat, Serif;
		font-weight: 500;
		font-size: $MENU_TOPLINE_FONT_SIZE;
		color:map_get($colors,"gray-c");
	}
}
