@import "settings";
$MENU_FONT_SIZE:1.8vh;
$MENU_TOPLINE_FONT_SIZE:1.6vh;
$TEL_FONT_SIZE:2.4vh;

header{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	position: absolute;
	z-index: 5;
}
.top-line{
	padding: 0.2% 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	background: map_get($colors,"black-c");
	.column-wrapper{
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;

		.data-content{
			&:hover{
				text-decoration: none;
				color: map_get($colors,"gray-hvrd");
			}
			&.city-location{
				font-weight: 500;
			}
			&.email-address{
				font-weight: 500;
			}
			text-decoration: none;
			cursor: pointer;
			transition: ease .5s;
			font-family: Montserrat, serif;
			font-size: $MENU_TOPLINE_FONT_SIZE;
			width: auto;
			color: map_get($colors,"white-c");
		}
	}
}
.bot-line{
	height: 10vh;
	background: map_get($colors,"white-c");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;

	.column-wrapper{
		@media screen and (orientation: portrait){
			justify-content: space-between;
		}
		margin: 0 auto;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		align-self: flex-start;
	}
	.tel-phone{
		text-decoration: none;
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: stretch;
		font-size: $TEL_FONT_SIZE;
		font-family: "Playball", serif;
		line-height: 1;
		margin: auto 0;
		width: auto;
		.pref{
			box-sizing: border-box;
			color:map_get($colors,"blue-f");;
			padding: 0 5px 0 0;
		}
		.phone{
			color:map_get($colors,"black-c");
		}
	}
}
nav.header-menu{
	@media screen and (orientation: portrait){
		display: none;
	}
	margin: auto 0;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
}
.nav{
	&-list{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		list-style: none;
		margin: 0;
		padding: 0;
		width: auto;
		height: 100%;
	}
	&-link{
		&:focus{
			border: none;
		}
		&::-moz-focus-outer,
		&::-moz-focus-inner{
			border:none;
		}
		&:visited{
			color:map_get($colors,"black-c");
		}
		&:hover{
			color: map_get($colors,"gray-hvrd");
		}

		color:map_get($colors,"black-c");
		word-break: normal;
		text-decoration: none;
		cursor: pointer;
		transition: ease .5s;
		font-size: $MENU_FONT_SIZE;
		font-style: normal;
		letter-spacing: 0;
		font-family: Montserrat, serif;
	}
	&-item{
		&.current{
			&:after{
				content:" ";
				height: .5vh;
				width: .5vh;
				border-radius: 100%;
				background: black;
				position: absolute;
				align-self: flex-end;
				bottom: -2%;
			}
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		$space:15px;
		&:first-child{
			padding: 0 $space 0 0;
		}
		&:last-child{
			padding: 0 0 0 $space;
		}

		padding: 0 $space;
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: center;
		width: auto;
		box-sizing: content-box;
	}
}
.hamburger.hamburger--collapse{
	&:focus{
		outline: none;
	}
	line-height: 0;
	padding: 0;
}
#menu-wrapper{
	display: none;
}